<?php
var_dump($dataRoles);
var_dump($dataCentres);
?>


<select name="centre" id="">
    <?php foreach ($dataCentres as $v) : ?>
        <option value="<?= $v['idCentre'] ?>"><?= $v['nom'] ?></option>
    <?php endforeach ?>

</select>